html
{
    background-color: #040821;
    color: #fff;
}

body {
    color: #fff;
}

.tweet
{
    color: #373737;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 1em;
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.link-box 
{
    margin-top: 7%;
}

.link-btn
{
    width: 100%;
    margin-bottom: 3%;
}